*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}
main{
    background-color: white;
    padding: 10px;
}
#logo{
    width: 150px;
    height: 35px;
    align-self: center;
}
ul{
    list-style-type: none;
}
/*header*/
#header-lista{
    display: flex;
}
/* header*/
header{
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.445);
    align-items: center;
    padding: 30px;
}
.header-lista-item{
    margin-right: 7.5px ;
}

#logo-footer{
    width: 100px;
}
#parrafo{
    text-align: center;
}
#footer-menu{
    display: flex;
    justify-content: space-around;
    
   
}
footer{
     background-color: rgba(0, 0, 0, 0.445);
     padding: 10px 0px;
}

.trajes{
    width: 150px;
}
section{
    display: flex;
    justify-content: space-around;
}
article{
    width: 250px;
    text-align: center;
    border: 3px solid gray;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    transition: all 400ms;
}
article:hover{
    box-shadow: 0 5px 10px black;
}
#vendidos{
    text-align: center;
}
h2{
    text-align: center;
    padding: 10px 5px;
}
#sec-tres{
    text-align: center;
}
a{
    transition: all 200ms;
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 8px;
}
a:hover{
    color: white ;
    background-color: black;
    padding: 4px;
    border-bottom: 10px;
    border-radius: 10px;
}
form{
    display: flex;
}
input{
    font-size: 16px;
    padding: 7px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
}
input:focus-visible{
    outline: none;
}
button{
    border: none;
    padding: 5px;
    background-color: white;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 18px;
}
.redes{
    margin-bottom: 10px;
}