<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>shein</title>
    <script
      src="https://kit.fontawesome.com/544876a7ca.js"
      crossorigin="anonymous"
    ></script>
</head>

<body>
    <header>
        <img id="logo" src="../public/images/Shein-logo.png" alt="">
        <ul id="header-lista">
            <li class="header-lista-item"><a href="#I">Inicio</a></li>
            <li class="header-lista-item"><a href="#M">Más vendidos</a></li>
            <li class="header-lista-item"><a href="#Of">Ofertas</a</li>
            <li class="header-lista-item"><a href="contacto.html">Contacto</a></li>
        </ul>
        <form action="">
            <input type="text" placeholder="Buscar articulo">
            <button> <i class="fa-solid fa-magnifying-glass"></i> </button>
        </form>
    </header>
    <main>
        <h2 id="I">Inicio</h2>
        <section>
            <article>
                <img class="trajes" src="../public/images/traje de baño enterizo.jpg" alt="">
                <h3>traje de baño one piece rayas</h3>
                <p>10$</p>
            </article>
            <article>
                <img class="trajes" src="../public/images/e0e9ac90218cd7519171d45265922b61.jpg" alt="">
                <h3>Traje de baño lateral recortado bandeau de una pieza</h3>
                <p>11$</p>
            </article>
            <article>
                <img class="trajes" src="../public/images/dos-piezas.webp" alt="">
                <h3>Traje de baño de 2 piezas con sujetador triangular de lazo </h3>
                <p>8$</p>
            </article>
        </section> 
        <h2 id="M">Más vendidos</h2>
        <section>
            <article>
                <img class="trajes" src="../public/images/anaranjado-estampado.jpg" alt="">
                <h3>traje de baño, dos piezas estampado (para niñas)</h3>
                <p>6$</p>
            </article>
            <article>
                <img class="trajes" src="../public/images/anaranjado.jpg" alt="">
                <h3>Traje de baño dos piezas</h3>
                <p>5$</p>
            </article>
            <article>
                <img class="trajes" src="../public/images/azul-confalda.webp" alt="">
                <h3>Traje de baño para damas tres piezas </h3>
                <p>11$</p>
            </article>
        </section> 
        <h2 id="of">Ofertas</h2>
        <section>
            <article>
                <img class="trajes" src="../public/images/azul-dos.jpg" alt="">
                <h3>traje de baño, dos piezas</h3>
                <p>5$</p>
            </article>
            <article>
                <img class="trajes" src="../public/images/negro-dos-piezas.webp" alt="">
                <h3>Traje de baño, dos piezas</h3>
                <p>5$</p>
            </article>
            <article>
                <img class="trajes" src="../public/images/DK-L-35.jpg" alt="">
                <h3>Traje de baño de 2 piezas estampado floreado</h3>
                <p>5$</p>
            </article>
        </section> 
    </main>
    <footer>
        <div id="footer-menu">
            <img id="logo" src="../public/images/Shein-logo.png" alt="">
            <ul id="lista-footer">
                <li class="redes"><a href="https://es-la.facebook.com/">Facebook</a></li>
                <li class="redes"><a href="https://www.instagram.com/">Instagram</a></li>
                <li class="redes"><a href="https://discord.com/">Discord</a></li>
            </ul>
        </div>

        <p id="parrafo">Shein 2024© Todos los derechos reservados </p>
    </footer>
</body>

</html>